<html>
<head>
<title>home_page.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,0); }
.s5 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
home_page.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s4"> 
</span><span class="s2">&lt;</span><span class="s5">android.support.v4.widget.DrawerLayout </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2"> 
    </span><span class="s1">android:background=</span><span class="s3">&quot;@color/windowBackground&quot;</span><span class="s2"> 
    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/drawer_layout&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2">&gt;</span><span class="s4"> 
     </span><span class="s2">&lt;</span><span class="s5">LinearLayout</span><span class="s2"> 
         </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
         </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
         </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s2"> 
         </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s2"> 
         </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;10dp&quot;</span><span class="s2">&gt;</span><span class="s4"> 
         </span><span class="s2">&lt;</span><span class="s5">LinearLayout</span><span class="s2"> 
             </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
             </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
             </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2">&gt;</span><span class="s4"> 
             </span><span class="s2">&lt;</span><span class="s5">ImageButton</span><span class="s2"> 
                 </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/but1&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;120dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:background=</span><span class="s3">&quot;@color/windowBackground&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:src=</span><span class="s3">&quot;@mipmap/ic_add_circle_black_24dp&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
             </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                 </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;25dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorPrimary&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textSize=</span><span class="s3">&quot;16dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;sans-serif&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:text=</span><span class="s3">&quot;Generate Bill&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
         </span><span class="s2">&lt;/</span><span class="s5">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
         </span><span class="s2">&lt;</span><span class="s5">LinearLayout</span><span class="s2"> 
             </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
             </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
             </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2">&gt;</span><span class="s4"> 
             </span><span class="s2">&lt;</span><span class="s5">ImageButton</span><span class="s2"> 
                 </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/but2&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;120dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:background=</span><span class="s3">&quot;@color/windowBackground&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:src=</span><span class="s3">&quot;@mipmap/ic_add_circle_black_24dp&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
             </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                 </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;25dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorPrimary&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textSize=</span><span class="s3">&quot;16dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;sans-serif&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:text=</span><span class="s3">&quot;List of Clients&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
         </span><span class="s2">&lt;/</span><span class="s5">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
         </span><span class="s2">&lt;</span><span class="s5">LinearLayout</span><span class="s2"> 
             </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
             </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
             </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2">&gt;</span><span class="s4"> 
             </span><span class="s2">&lt;</span><span class="s5">ImageButton</span><span class="s2"> 
                 </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/but3&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;120dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:background=</span><span class="s3">&quot;@color/windowBackground&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:src=</span><span class="s3">&quot;@mipmap/ic_add_circle_black_24dp&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
             </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                 </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;25dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorPrimary&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textSize=</span><span class="s3">&quot;16dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;sans-serif&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:text=</span><span class="s3">&quot;View Services and Charges&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
         </span><span class="s2">&lt;/</span><span class="s5">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
         </span><span class="s2">&lt;</span><span class="s5">LinearLayout</span><span class="s2"> 
             </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
             </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
             </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2">&gt;</span><span class="s4"> 
             </span><span class="s2">&lt;</span><span class="s5">ImageButton</span><span class="s2"> 
                 </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/but4&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;120dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:background=</span><span class="s3">&quot;@color/windowBackground&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:src=</span><span class="s3">&quot;@mipmap/ic_add_circle_black_24dp&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
             </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                 </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;25dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorPrimary&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textSize=</span><span class="s3">&quot;16dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;sans-serif&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:text=</span><span class="s3">&quot;list of Bills&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
         </span><span class="s2">&lt;/</span><span class="s5">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
         </span><span class="s2">&lt;</span><span class="s5">LinearLayout</span><span class="s2"> 
             </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
             </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
             </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2">&gt;</span><span class="s4"> 
             </span><span class="s2">&lt;</span><span class="s5">ImageButton</span><span class="s2"> 
                 </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/but5&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;120dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:background=</span><span class="s3">&quot;@color/windowBackground&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:src=</span><span class="s3">&quot;@mipmap/ic_add_circle_black_24dp&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
             </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                 </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;25dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorPrimary&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textSize=</span><span class="s3">&quot;16dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;sans-serif&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:text=</span><span class="s3">&quot;Create and view sub-users&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
         </span><span class="s2">&lt;/</span><span class="s5">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
         </span><span class="s2">&lt;</span><span class="s5">LinearLayout</span><span class="s2"> 
             </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
             </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
             </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2">&gt;</span><span class="s4"> 
             </span><span class="s2">&lt;</span><span class="s5">ImageButton</span><span class="s2"> 
                 </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/but6&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;120dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:background=</span><span class="s3">&quot;@color/windowBackground&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:src=</span><span class="s3">&quot;@mipmap/ic_add_circle_black_24dp&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
             </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                 </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;25dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorPrimary&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textSize=</span><span class="s3">&quot;16dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;sans-serif&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:text=</span><span class="s3">&quot;Company Policies&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
         </span><span class="s2">&lt;/</span><span class="s5">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
         </span><span class="s2">&lt;</span><span class="s5">LinearLayout</span><span class="s2"> 
             </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
             </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
             </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2">&gt;</span><span class="s4"> 
             </span><span class="s2">&lt;</span><span class="s5">ImageButton</span><span class="s2"> 
                 </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/but7&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;120dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:background=</span><span class="s3">&quot;@color/windowBackground&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:src=</span><span class="s3">&quot;@mipmap/ic_add_circle_black_24dp&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
             </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                 </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;25dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorPrimary&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textSize=</span><span class="s3">&quot;16dp&quot;</span><span class="s2"> 
                 </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;sans-serif&quot;</span><span class="s2"> 
                 </span><span class="s1">android:textStyle=</span><span class="s3">&quot;bold&quot;</span><span class="s2"> 
                 </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                 </span><span class="s1">android:text=</span><span class="s3">&quot;Templates&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
 
         </span><span class="s2">&lt;/</span><span class="s5">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
     </span><span class="s2">&lt;/</span><span class="s5">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
    </span><span class="s2">&lt;</span><span class="s5">android.support.design.widget.NavigationView</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:menu=</span><span class="s3">&quot;@menu/main&quot;</span><span class="s2"> 
        </span><span class="s1">app:headerLayout=</span><span class="s3">&quot;@layout/navigation_layout&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;start&quot;</span><span class="s2">&gt;&lt;/</span><span class="s5">android.support.design.widget.NavigationView</span><span class="s2">&gt;</span><span class="s4"> 
</span><span class="s2">&lt;/</span><span class="s5">android.support.v4.widget.DrawerLayout</span><span class="s2">&gt;</span><span class="s4"> 
 
 
</span></pre>
</body>
</html>