<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bangalore.bms.billbookonline">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage" />
        <activity android:name=".LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MA" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterPage" />
        <activity android:name=".Validation_page">
            <intent-filter>
                <action android:name="android.intent.action.MAI" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdateCompanyLayout">
            <intent-filter>
                <action android:name="android.intent.action.M" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BillTemplateActivity">
            <intent-filter>
                <action android:name="android.intent.action.IN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Create_subuser">
            <intent-filter>
                <action android:name="android.intent.action.IN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Generate_bill" />
        <activity android:name=".View_user"></activity>
    </application>

</manifest>